.de-input-matrix {
  border-left: 1px solid var(--input);
  * {
    border-width: 0;
    border-radius: 0;
  }

  :first-child div {
    border-top: 1px solid var(--input);
  }

  > :nth-child(even) {
    background-color: var(--color-gray-100);
  }

  > div {
    border-bottom: 1px solid var(--input);
  }

  > div :last-child {
    border-right: 0;
  }

  div,
  input {
    border-right: 1px solid var(--input);
  }

  .search-select input {
    border-right: 0;
  }
}
