.input-matrix {
    input {
        border-radius: 0;
    }

    div:last-child div:first-child input {
        border-bottom-left-radius: calc(var(--radius) - 2px);
    }

    div:last-child div:last-child input {
        border-bottom-right-radius: calc(var(--radius) - 2px);
    }
}

.input-matrix-title {
    label {
        border-top-color: var(--input);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: var(--input);
        border-right-style: solid;
        border-right-width: 1px;
        border-left-color: var(--input);
        border-left-style: solid;
        border-left-width: 1px;
    }

    label:first-child {
        border-top-left-radius: calc(var(--radius) - 2px);
    }

    label:last-child {
        border-top-right-radius: calc(var(--radius) - 2px);
    }
}

.input-column {
    div {
        border-radius: 0;
    }

    div:not(:last-child) {
        border-bottom: 0;
    }

    div:first-child {
        border-top-left-radius: calc(var(--radius) - 2px);
        border-top-right-radius: calc(var(--radius) - 2px);
    }

    div:last-child {
        border-bottom-left-radius: calc(var(--radius) - 2px);
        border-bottom-right-radius: calc(var(--radius) - 2px);
    }
}