.input-matrix {
    input {
        border-radius: 0;
    }

    div:first-child div:first-child input {
        border-top-left-radius: calc(var(--radius) - 2px);
    }

    div:first-child input {
    }

    div:first-child div:last-child input {
        border-top-right-radius: calc(var(--radius) - 2px);
    }

    div:last-child div:first-child input {
        border-bottom-left-radius: calc(var(--radius) - 2px);
    }

    div:last-child div:last-child input {
        border-bottom-right-radius: calc(var(--radius) - 2px);
    }
}